@import "food-card.css";
/*start best recipes*/
.best-recipes {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.best-recipes__container {
    display: grid;
    grid-gap: 1rem;


    .best__card {
        background-position: center;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        border-radius: var(--default-border-radius);
        cursor: pointer;
        position: relative;
    }


    .best__card__name {
        position: absolute;
        bottom: 5%;
        left: 5%;
        color: var(--color-light-bg);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
    }
}

/*start tags section*/
.tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    margin-top: 40px;


    .tags__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 900px;
        margin: 40px auto 0;
        gap: 0.5rem;
    }


}

/*start recipes list display*/
.tags__recipes {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}