@import "food-card.css";
/*start best recipes*/
.best-recipes {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

/*start search styles*/
.recipes__search {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: var(--default-spacing) auto;

    input {
        width: calc(100% - 40px);
        height: 40px;
        background: #26252210;
        border-radius: 1rem;
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
    }


    .recipes__search__icon {
        font-size: 18px;
        cursor: pointer;
        display: inline-block;
        padding: 11px 14px;
        background: #26252210;
        border-radius: 1rem;
    }

    .recipes__search__icon--search {
        height: 40px;
    }
}

/*finish search styles*/

.best-recipes__container {
    display: grid;
    grid-gap: 1rem;


    .best__card {
        background-position: center;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        border-radius: var(--default-border-radius);
        cursor: pointer;
        position: relative;
    }


    .best__card__name {
        position: absolute;
        bottom: 5%;
        left: 5%;
        color: var(--color-light-bg);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
    }
}

/*start tags section*/
.tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    margin: 40px 0;


    .tags__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 900px;
        margin: 40px auto 0;
        gap: 0.5rem;
    }


}

/*start recipes list display*/
.tags__recipes {
    margin-top: 40px;
    display: grid;
    grid-gap: 1rem;
}