@media screen and (min-width: 0px) {
    .container {
        padding: 16px;

    }

    .main-title {
        font-size: 26px;
    }

    .hero-title {
        font-size: 38px;
    }

    .hero-section__content__desc {
        font-size: 16px;
    }

    .hero-section__content__button {
        width: 100%;
        color: var(--color-light-black-750);
    }

    .palette {
        flex-direction: column;
        padding: 16px;

    }

    .palette__list, .palette__content {
        width: 100%;
        max-width: 100%;
    }

    .featured-recipes, .footer, .hero-section {
        padding: 16px;
    }

    .featured-recipes__header {
        flex-direction: column;
        align-items: start;

    }

    .embark-journey__recipes {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-us {
        display: grid;
        grid-template-columns: 1fr;
        padding: 16px;
    }

    .footer__top {
        flex-direction: column;
        gap: 24px;
    }

    .footer__list {
        width: 100%;
        flex-direction: column;
    }

    .footer__list__item {
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid var(--color-light-black-100);
    }

    .subscribe {
        padding: 40px 16px;
    }

    .subscribe-wrapper {
        max-width: 100%;
    }

    .subscribe-email {
        width: 90%;
    }

    /*start allRecipes page responsive style*/
    .best-recipes__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 520px);
    }

    .tags__recipes {
        grid-template-columns: 1fr;
    }

    /*start about page*/
    .about__header {
        flex-direction: column;

        .about__header__title, .about__header__desc {
            width: 100%;
        }
    }

    .about__details--me {
        display: flex;
        flex-direction: column;
    }

    .about__imag-gallery {
        grid-template-columns:  1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    .about__icons-content {
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(3, 1fr);
    }

    /*search modal*/
    .search-modal__box {
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .hero-title {
        font-size: 56px;
    }

    .hero-section__content__desc {
        font-size: 18px;
    }

    .hero-section__content__button {
        width: fit-content;
    }

    /*start about page*/
    .about__imag-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .about__icons-content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:  1fr;
    }
}

@media screen and (min-width: 800px) {
    #navbar {
        display: flex;
    }

    #navbar-mobile {
        display: none;
    }

    .container {
        padding: 16px 32px;
    }

    .main-title {
        font-size: 40px;
    }

    .hero-title {
        font-size: 80px;
    }

    .hero-section__content__desc {
        font-size: 22px;
    }

    .palette {
        padding: 40px;
        flex-direction: row;
    }

    .palette__list, .palette__content {
        width: 40%;
        max-width: 40%;
    }

    .featured-recipes, .footer, .hero-section {
        padding: 40px;

    }

    .featured-recipes__header {
        flex-direction: row;
        align-items: center;

    }

    .embark-journey__recipes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-us {
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 320px);
    }

    .about-us__content {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
    }

    .about-us__image-first {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 1;

    }

    .about-us__image-second {
        grid-row-start: 2;
        grid-column-start: 5;
        grid-column-end: 9;

    }

    .about-us__image-third {
        grid-row-start: 2;
        grid-column-end: 5;
        grid-column-start: 1;
    }

    .subscribe {
        padding: 40px;
    }

    .subscribe-wrapper {
        max-width: 80%;
    }

    .subscribe-email {
        width: 70%;
    }

    /*start allRecipes page responsive style*/
    .best-recipes__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 520px 260px;
    }

    .best__card:first-child {
        grid-column: span 2;
        grid-row: span 1;
    }

    .tags__recipes {
        grid-template-columns: repeat(2, 1fr);
    }

    /*about page*/

}

@media screen and (min-width: 1024px) {
    .embark-journey__recipes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .about-us__content {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }

    .about-us__image-first {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;

    }

    .about-us__image-second {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: -1;

    }

    .about-us__image-third {
        grid-row-start: 2;
        grid-column-end: 6;
        grid-column-start: 1;
    }

    .subscribe-wrapper {
        max-width: 50%;
    }

    .subscribe-email {
        width: 100%;
    }


    .footer__top {
        flex-direction: row;
    }

    .footer__list {
        flex-direction: row;
        width: fit-content;
    }

    .footer__list__item {
        padding: 0 2rem;
        border-bottom-width: 0;
        min-width: 160px;
    }

    .footer__list__item:not(:last-child) {
        border-right: 1px solid var(--color-light-black-100);

    }

    /*start allRecipes page responsive style*/
    .best-recipes__container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 260px);

    }

    .best__card:first-child {
        grid-column: span 3;
        grid-row: span 2;
    }

    .tags__recipes {
        grid-template-columns: repeat(3, 1fr);
    }

    /*start about page*/
    .about__header {
        flex-direction: row;

        .about__header__title, .about__header__desc {
            width: 50%;
        }
    }

    .about__details--me {
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        grid-template-rows: 1fr;
    }

    .about__imag-gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /*search modal*/
    .search-modal__box {
        width: 40%;
    }
}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1440px) {

}
