@media screen and (min-width: 0px) {
    .container {
        padding: 16px;

    }

    .hero-section__content__title {
        font-size: 38px;
    }

    .hero-section__content__desc {
        font-size: 16px;
    }

    .hero-section__content__button {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .hero-section__content__title {
        font-size: 56px;
    }

    .hero-section__content__desc {
        font-size: 18px;
    }

    .hero-section__content__button {
        width: fit-content;
    }
}

@media screen and (min-width: 800px) {
    #navbar {
        display: flex;
    }

    #navbar-mobile {
        display: none;
    }

    .container {
        padding: 16px 32px;
    }

    .hero-section__content__title {
        font-size: 80px;
    }

    .hero-section__content__desc {
        font-size: 22px;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1440px) {

}
