:root {
    --color-light-primary: #9FDC26;
    --color-light-secondary: #F29C33;
    --color-light-danger: #EE6352;
    --color-light-info: #C4E5FC;
    --color-light-white-700: #999999;
    --color-light-white-600: #AAAAAA;
    --color-light-white-500: #BBBBBB;
    --color-light-white-400: #CCCCCC;
    --color-light-white-300: #DDDDDD;
    --color-light-white-200: #EEEEEE;
    --color-light-white-150: #FFFBF2;
    --color-light-white-100: #FFFFFF;
    --color-light-black-100: #888888;
    --color-light-black-200: #777777;
    --color-light-black-300: #666666;
    --color-light-black-400: #555555;
    --color-light-black-500: #444444;
    --color-light-black-600: #333333;
    --color-light-black-700: #222222;
    --color-light-black-750: #262522;
    --color-light-black-800: #111111;
    --color-light-black-900: #000000;

    --color-light-bg: #F0EBE1;
    --default-font: "Roboto";
    --max-width: 1440px;
    --default-border-radius: 32px;
    --default-spacing: 3rem;
}

